title: What is the best online resource for learning web development?
author: Oliver Williams
date: 06-04-2016
headline: Treehouse vs Code School vs Code Academy... 

{% extends "post.html" %}
{% block body %}

{% filter markdown %} 

###Treehouse and Code School
**Paid Membership**
I find it ironic that Code School's advertising strapline is _learn by doing_. Treehouse and Code School share the same problem - artificial environments.
The easiest way to get comfortable using command line is to _use command line_. The best way to learn git is to _use git_. With Treehouse and Code School is that you could spend hundreds of hours learning web development without ever opening up a text editor, without ever opening terminal, without ever doing anything in _real projects_. Once you become overly-comfortable in their fake-environment - fake terminal, fake database, fake text editor - the transition to the real thing is going to be hard. Getting productive well orientated in your text editor of choice is a pretty important thing for any developer. You can't get good at coding by answering some multiple choice questions. Having said that, the quality of the video's is still rather good and both are rather enjoyable ways of learning to code. Guil Hernandez CSS courses on Treehouse are particularly good. 

###Code Academy
**Free**
Most of these courses are a great starting-off point. SQL, Git and Command Line earn dishonourable mentions - they have the same problem mentioned above - an artificial environment. In Treehouse and Code School you at least have to try and remember things - on these particular courses on Code Academy you just type what your told to. 

###Khan Academy
**Free**
Yes, Khan Academy is aimed at children. Yet its learning materials often go deeper and get more complex than the 'adult' equivalents mentioned above. 
Learning Processing.js is a slightly weird starting point for learning JavaScript, but it's pretty fun. JQuery's John Resig is KA’s 'Dean of Computer Science', so you know its legit. 

###Udacity
You have to pay to be granted a "Nanodegree", but you can take most of the classes for free. Unlike some other beginners tutorials, Udacity has you cloning code from Github and actively following along in the 'real world'. Many of its courses are built by _Google_. Its the best place to learn git, the best place to learn responsive web design, and a good bet in general (although I found its object-oriented JavaScript course horribly confusing).

###Frontend Masters
**Paid Membership**
For more advanced front-end topics, this is undoubtedly the best of the bunch.

###Lynda.com
**Paid Membership**
Lynda.com offers training in a very wide variety of topics not limited to web development. Courses front-end and back-end coding and web design are of a pretty variable quality. 

#Other
There are now countless online learning resources that get more specific than the ones mentioned above. 
**Laracasts** is excellent for learning Laravel (and also pretty good for learning object oriented PHP and other related topics).
**KNP University** is great for Learning Symfony, and like Laracasts also offers decent training for OOP in PHP.
**Drupalize Me** is recommended for learning Drupal
**OS Training** covers the big three CMS - Wordpress, Drupal, Joomla. Its videos are of a high standard.   
**CSS Tricks** formerly paid video tutorial section _The Lodge_ recently became entirely free. It focuses on front-end. 

Its a crowded market-place and their are some other outlets I have less experience with - SitePoint, 

{% endfilter %}
 {% endblock body %}